/* media 1024*/
@media (max-width:1024px){
.wrap-box{
flex-direction: column;
gap:0;
text-align: center;
padding-top: 32px;
padding-bottom: 32px;
}
.left-block{
width:100%;
margin-bottom: 68px;
}
.hero-text{
    max-width:630px;
    margin: 0 auto;
}
.action{
    justify-content: center;
}
.right-block{
   width:100%; 
}
.action-paraghrap{
    width:370px;
}
.flex-block {
    flex-direction: column;
    gap: 64px;
}
.container{
    padding:39px 0;
}
.advertise-section{
    padding-top:32px;
    padding-bottom: 64px;
}
.left-block-advertise{
    width:100%;
}
.right-block-advertise{
    width:100%;
    display: flex;
    column-gap: 129px;
}
.advertise-header, .advertise-paraghraps{
    width: 415.5px;
}
.cta{
     height:588px;
}
.subscribe{
    display: none;
}
.cta-text{
    width:600px;
}
footer{
     padding: 45px 0;
}
.columns{
    flex-direction: column;
    gap:48px;
    margin: 0 auto;
}
.subscribe{
    display: none;
}
.footer-text{
    width:100%;
    justify-content:flex-start;
}
}
/*media 744*/
@media (max-width: 744px){
    .nav-menu,
    .black{
        display: none;
    }
    header{
        padding:20px 21px 20px 24px;
    }
    .burger-bar{
        display: block;
        width:25px;
        height:25px;
    }
    .wrap-box{
padding-top: 0;
padding-bottom: 0;
}
    .left-block{
    margin-bottom:24px;
}
    .nav-links{
    gap:22px;
}
    .hero-header{
    font-size: 40px;
}
    .hero-btn{
    width: 84px;
    height:40px;
}
    .action{
    flex-direction: column;
}
    .flex-block {
    gap: 29px;
}
    .container{
    padding:0;
}
    .advertise-section{
    padding-top:24px;
    padding-bottom: 24px;
}
    .right-block-advertise{
   flex-direction: column;
   text-align: center;
}
    .advertise-header, .advertise-paraghraps{
    width:100%;
}
    .features{
    flex-direction: column;
    text-align: center;
    gap:0;
}
.feature-list{
    padding-top:20px;
    padding-bottom: 20px;
}
.cta-text{
    width:100%;
}
footer{
     padding: 25.73px 0;
}
.columns{
    gap:20px;
}
.footer-text{
    justify-content:space-between;
}
}
/*media 375px*/
@media (max-width: 375px){
    header{
        padding:20px;
        height:65px;
    }
    .white-logo{
        margin: 0 auto;
    }
    .wrap-box{
padding-bottom: 21px;
}
.action-paraghrap{
    width:327px;
}
.container{
    padding:24px 0;
}
.left-block-advertise{
    height:195px;
}
.cta{
    height:500px;
}
.cta-text{
    width:247px;
    height:232px;
}
.cta-header{
    font-size: 28px;
}
.feature-list{
    padding-top:24px;
    padding-bottom: 24px;
}
footer{
     padding:50px 0;
}
.footer-header{
    text-align: center;
}
}